html {
    font-size: 16px;
    
}

.dash-profile-container  {
    background: radial-gradient( circle farthest-corner at -0.2% 80.7%, #1D2237 11%, #4E5F92 118.2% );
    display: flex;
    padding: 35px 0px 75px 60px;
    line-height: 15px;
    text-transform: capitalize;
    
}
.content-table {
    width: 80%;
    margin-bottom: 1rem;
    color: #212529;
    padding: 0px 120px;
    background: white;
    box-shadow: -5px 6px 28px 10px rgba(0,0,0,0.09);
}
.profile-img {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    display: flex;
    flex-direction: column;
}
.the-image {
    height: 20vh;
    width: 20vh;
    border-radius: 10vh;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAM1BMVEUKME7///+El6bw8vQZPVlHZHpmfpHCy9Ojsbzg5ekpSmTR2N44V29XcYayvsd2i5yTpLFbvRYnAAAJcklEQVR4nO2d17arOgxFs+kkofz/154Qmg0uKsuQccddT/vhnOCJLclFMo+//4gedzcApf9B4srrusk+GsqPpj+ypq7zVE9LAdLWWVU+Hx69y2FMwAMGyfusLHwIpooyw9IAQfK+8naDp3OGHvZ0FMhrfPMgVnVjC2kABOQ1MLvi0DEIFj1ILu0LU2WjNRgtSF3pKb4qqtd9IHmjGlJHlc09IHlGcrQcPeUjTAySAGNSkQlRhCCJMGaUC0HSYUx6SmxFAtJDTdylsr4ApC1TY0yquKbCBkk7qnYVzPHFBHkBojhVJWviwgPJrsP4qBgTgbQXdsesjm4pDJDmIuswVZDdFx0ENTtkihoeqSDXD6tVxOFFBHndMKxWvUnzexpIcx/Gg2goJJDhVo6PCMGRAnKTmZuKm3wcJO/upphUqUHy29yVrRhJDORXOKIkEZDf4YiRhEF+iSNCEgb5KY4wSRDkB/yurUEG8nMcocgYABnvbrVL3nMIP0h/d5udKnwzSC/InfPdkJ6eWb0PJE++dyVVyQP5iQmWW27X5QG5druEKafBu0Hqu9saVOHa8HKC/K6BzHKZiRMEZCDF0Nd1/ZfXI/fcOibHOssFgokg9uFA20BhztHEAZIjIohrD/o1wljeFBDEwBo8YUt5Ir/rNLjOIACPFdy/AbEcPdcJBOCxytjeYAM4Kzp6rhOIPhRGNzwmFP3rOoTFI0irtnQKx6fj1Zt+h9njEUS9mKJxfFRrX5lt7wcQtaWTOfTHeIXVJQcQrRW+OYex2j0a66XZINoO8a7fPH2iHF2mC7ZBtB3Czb5QvjizSx7A3308mRzqAwujSywQbYfwc0iU8zqjS0yQ6ztEHX9332KCaGNIYB/Qq1z3yN0oDZBWyeFYJBCkm2sXLhDtpKFwNDMu5TnrZpYGiHbK4Nlwikg5DrYV1g6iPoJmzE5MKd/fOp53EPUaQZaLqH3u+vo2ELWp3wSyWuYGoj9EEIJoV3L9AUS/ZLsJpLNBXmqOu0CW6P5A/dx9IL0FAji/FYKot9EqE0Tvs6QBUe/2CxMEkZAlBNGPhdoAQWyTSmbxUwvUygwQyMmniAPgLt87CODXHuftWJIQgzrfQDC5AfwSgz9MmmG/gWCOqDgZ4JsQeTvZBoJJDhAFEsSDyxUEEUUekk0UEMhjBcEcGsoWVpBU3NcCgkkPkJWrKbdRZvULCMTWhYEdMrayBQRyqHcnSLmAIH7LcWJ8Hch7BsHEdWFpJsZjziCgFBpZ9TPm4e0XBJTTJKt9xjy8RoLI4gimPLP5goCSgWTrEcyzsy8IqmZVMo0H5bJiQToBCOjZ5RcElhjLN3dU7uQMAvoxwQkJZKI1CQzCthJYEigahHuDDi4rFwzCPQ7F1fiDQZgTR5iJwEGYRgIsiECD8BwwMAEfDcIaW8CRBQdhjS1kJQEchDEFhiRKr4KDFPS9FGQNVwEHoW83QjsEHdkfnuIOl6C1NjMItiaCaCWgbdpFJXQ9soh2uoB9aJcCxFdgZwlcrTmvENGlrITBBdpK25Qhd1F2RScq8CKu/gsCL8qN5THjy+Rr5E6joYgPxpdl518QrCf8Kpgjn6C8HLkbb+vt7ZM8wdVvy258khsRfHaS5DalDnlidZT7Erk+SXV5Bj1D3LS29XyhVJuoKHs9Q8S6reK11oUc7vPcr9uswP3SLiDINefXOF5rwCuGzVT6zVkVPfh2wWmHcz4wAwba2cgN1/Tsvleu7//i69CgVyt1GwjOs2+XK3rtbl151Tg3vOeioG40Mz2V+6pQ4xbJHOZj6g0EMxk93tV7fuedvVZpQSPhbwNBGInrymGrwNh1GXmL8F+lAaJ+NU/fzcmvJqvKj7177+1v1GY/GiBKI1Fdy/2XK6upXwaIJpI8B/399W0mH9zzafKaeCF9J0WF+jyCuFusTGzZKhFH8dVLZql2brxgcdVBKb7KG/7UZTmB3XJ6uL/QYT5ScRI74FcHEJ7feopyfGkaeaGlPoCw/BbjZmSBWIvINQNmTxdjWJqwUI8sztR4nYPuIPSTSUnOCZOE3ierqRoJfNSQxDjLEYs8i91eqgFCDSWiFHiuqAN9CwEGCPEISVjvwhS7Mfx6dtX8kC5aqvneGBOEFN2v6RBiYwr3DQOkLhEW6fHFbIwFQnkLiWYmZxE220z/aedPx99C+hiyKR4OzNFhg8S75CJTnxQ1dyugHTLaY10iu9dBpmhQtMz1ABLrkgtHVnRsPUO3OcU25i8cWdGxZbflCBKJqBdMs3aF/dYhNexU9RFcYEmLXYQKghyWdufyldBSU3KpjkKhZclxTXQGCTkL/HZDUIH5+Gkt4SgoCtj7pSYSNJLTK3VVRnmXZxebSMBIzmHABeIdXBebiN9eHYtUZ62ab3BdGkUm+SKJw1bdRXeewaX7qqdAnljg2sVxg3guAk3baofcg9yZ2eZpnHNvSFrEqhB9YPjesmt0pt6Xc8hl7W5L9Q4Xx09ctsrd5VhWeF6nF8SRrZdw49qns//0xTK/AZ8vGr3caTliuzeFNeCJTgafpKlhHd2WP1sy1LqDF798gjKJPLqDr9keoTd43+NyNzC1CI8Xy2lcPtOaVBI5IiAWyQ3e125AcKoXs2Djhy5eVc3KiBxREIPkhjBiLhIjU++4T91IbggjRiCJLSEIwWGddkEaxlVN5KCArPHk8mXVpHk8FHH7JL3n5dPA7C90q7XkeFJucacNmGXeRfswLE71HA79efaGiCN/Ofjmfmtcp8X10tIsqCacV5xfRWjNUiXGYbovWgyFYHcQLak15K9oM5zqmgaeKsHJetbSHfSPzXOiw/rxE9YH4CXaUpsZ0ztemFurP95Jpyvrd29YTpIZr7cEJHqfc7Wl0PFm2+yJR70udaokKFtGPTdm8WdQe24+HmVLlueboWQquBcYYVH2vEzfh8kCks1p90eWsLCyZ8qK7E86Oe+3XYFnBuiWdth20UqZR5SvMoyPg3WNauJipi0LMTQgVq5xUUlZcrPsopPHJ926z8pm7xyFLrH/PxpHSoXKdWgXsLn1scZn1ZDd/2vszN3lt254qkE+qu3yoqLM+ghN3Qz2qcVzUC/ZMFsK/alU6l0OWV/bQz6v6yYbyuN5BaZ4A7Y30vs/PPksS2+qzlvfF7OQmzzcL7W+xa7OIfRuVdtn/tdvdFLnL4OTKcm2W16PmWc4FWWXNSlWM2n3D+uPxuyrcfo74aP+Ac30a82+oLmfAAAAAElFTkSuQmCC');
    background-position: center;
    background-size: cover;
    
}
.profile-details {
    flex-basis: 35vw;
   
}


.dash-content-container {
    position: absolute;
    top: 250px;
    left: 120px;
    width: 100%;
}
/******************************************************/
/****BODY*********************/
/*****************************************************/

.demo-user td {
    border-top: none !important;
    padding: .3rem !important;
    color:white;
    font-weight: 400
}
/****************************************/
.dispflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.share-credentials {
    width: 80%;
    margin-bottom: 1rem;
    color: #212529;
    padding: 20px 120px;
    position: relative;
    background: white;
    box-shadow: -5px 6px 28px 10px rgba(0,0,0,0.09);
    
}

.dash-add-doc-btn { /******log in button itself*******/
  padding: 15px 60px;
  font-family: 'karla',sans-serif;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: radial-gradient( circle farthest-corner at -0.2% 80.7%, #1D2237 8%, #4E5F92 160.2% );
  outline: none;
  font-weight: bold;
  color: #fff;
}
.dash-add-doc-btn:hover {
  cursor: pointer;
  background-color: #00b359;
  color: #fff;
  transform: translate(0px,-1px);
}

.dash-nav {
    height: 50px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    background-color:white;
}

.dash-title {
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
}


.dash-logout-btn { /******log in button itself*******/
  padding: 12px 60px;
  font-family: 'karla',sans-serif;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: radial-gradient( circle farthest-corner at 2.8% 80.7%, #4E5F92 8%,  #1D2237 54.2% );
  outline: none;
  font-weight: bold;
  color: #fff;
  margin-top: -5px;
}
.dash-logout-btn:hover {
  cursor: pointer;
  background-color: #00b359;
  color: #fff;
  transform: translate(0px,-1px);
}

thead h1,h5 {
    font-weight: 500;
}

.share-title h1 {
    font-weight: 500;
}

.requested-content {
    padding: 20px 0px;
}

.requested-content p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.requeted-container {
    position: relative;
    width: 60%;
    margin-bottom: 1rem;
    color: #212529;
    padding: 0px 120px;
    background: white;
    box-shadow: -5px 6px 28px 10px rgba(0,0,0,0.09);  
}

.dash-main-request-container {
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dash-request-select {
    width: 75%;
    height: 40px;
    color: darkslategrey;
    font-size: 20px;
    border-radius: 3px;
    padding-left: 20px;
}

.dash-request-select:focus{
    outline: none;
}


.dash-request-btn { /******log in button itself*******/
  padding: 12px 20px;
  font-family: 'karla',sans-serif;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: radial-gradient( circle farthest-corner at -0.2% 80.7%, #1D2237 8%, #4E5F92 160.2% );
  outline: none;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.dash-request-btn:hover {
  cursor: pointer;
  background-color: #00b359;
  color: #fff;
  transform: translate(0px,-1px);
}

.dash-remove-btn{

}

.dash-remove-btn { /******log in button itself*******/
  display: inline;
  padding: 10px 20px;
  margin-left: 10px;
  font-family: 'karla',sans-serif;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: linear-gradient(to right top, #f3513a, #eb4639, #e23a38, #da2d37, #d11e36);
  outline: none;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.dash-remove-btn:hover {
  cursor: pointer;
  background-color: #00b359;
  color: #fff;
  transform: translate(0px,-1px);
}

.dash-container button{
    font-family: 'karla',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}