

.verifier-header .main-header {
    background:radial-gradient( circle farthest-corner at -0.2% 80.7%, #343a40 11%, #dc3545 118.2% );
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 230px;
    padding: 4vh;
    border:none !important;
}
.verifier {
    display: flex;
    align-items: center;
    padding-left: 80px;
    
}
.verifier_logo {
    height: 25vh;
    width: 40vh;
    background-image: url('./img/logo_verifier.png');
    background-size: cover;
    background-position: center;
    border-radius: 2vh;
    margin-right: 3vh;
}
/************************************************/
.user {/********user inside dashboard bar*********/
    margin-right: 2vw;
    text-transform:capitalize;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}
.user:hover {
    cursor: pointer;
}
.user:hover .fa-caret-down {
    transform: translate(0px,-2px);
}
.user:active .fa-caret-down {
    transform: translate(0px,1px);
}
.fa-caret-down {
    margin-left: .2vw;
}
.fa-user {
    margin-right: .2vw;
}
/***************************************/
.main-header-btn {
    display: flex;
    align-items: center;
}
.dispflex {
    display: flex;
    align-items: center;
}
/******************************************************/
/*****Custom css for verifier starts here****************/
/******************************************************/


.make-request-div {
    width: 600px;
    border-radius: 4vh;
    align-items: center;
    background: radial-gradient( circle farthest-corner at -0.2% 80.7%, #f8f9fa4d 11%, #35dc872e 118.2% );
    padding:15px;
    margin-right: 80px;
    

}
.publicKeyInput {
    outline: none;
    font-weight: bold;
    color: #666;
}
.publicKeyInput:focus {
    outline:none;
   border: solid 2px #555;
}
::placeholder {
    color: #ccc;
    font-weight: 500;
}
.make-req-btn {
    padding: 5px;
    outline: none;
    margin: auto;
    border-radius: 4px;
    border: none;
    width: 300px;
    font-weight: bold;
    margin-top: 10px;
}
/***********************************************/
.verifier_content {

}
.recent-lists {
    margin: 30px 100px 0px 100px;
    background:radial-gradient( circle farthest-corner at -0.2% 80.7%, #393a4085 11%, #dc3545 118.2% );
    padding: 20px;
    box-shadow: 0px 12px 27px -13px rgba(0,0,0,0.33);
   
}
.history {
   
    margin: 0px 100px 30px 100px;
    background: radial-gradient( circle farthest-corner at -0.2% 80.7%, #393a4085 11%, #dc3545 118.2% );
    padding: 20px;
    box-shadow: 0px 12px 27px -13px rgba(0,0,0,0.33);
}
.rejected {
    color: #ff3333;
    font-size: 1.5rem;
    
}
.accepted {
    color: #00cc33;
    font-size: 1.5rem;
    
}

.verifer-req-btn { /******log in button itself*******/
  padding: 12px 60px;
  font-family: 'karla',sans-serif;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  font-size: 1rem;
  background:  radial-gradient( circle farthest-corner at -0.2% 80.7%, #00ffad2b 11%, #49323c 118.2% );
  outline: none;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
.verifer-req-btn:hover {
  cursor: pointer;
  background-color: #fa073a;
  color: #fff;
  transform: translate(0px,-1px);
}

.verifer-logout-btn { /******log in button itself*******/
  padding: 10px 60px;
  font-family: 'karla',sans-serif;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: radial-gradient( circle farthest-corner at -0.2% 80.7%, #00ffad2b 11%, #49323c 118.2% );
  outline: none;
  font-weight: bold;
  color: #fff;
}
.verifer-logout-btn:hover {
  cursor: pointer;
  background-color: #fa073a;
  color: #fff;
  transform: translate(0px,-1px);
}

.verifier-entire {
    background-color: #f7f7f7;
}
.verifer-table-header {

    color:black;
}

.verifier-strike-removed {
    text-decoration: line-through;
}

.verifier-entire button {
    font-family: 'karla',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}




